
.header__title{
    font-size: 4rem;
    font-weight: 600;
    color: var(--clr-title);

    transition: 2s fade-in-title;
    animation: fade-in 1.5s;
}

@keyframes fade-in {
    from{
        margin-left: 10rem;
        opacity: 0;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}