
.list__item__content{
    background-color: white;
    
    border-radius: 0 0 1rem 1rem;
    padding: 1.5rem;
    margin-top: 1.2rem;

    overflow: hidden;
    width: 100%;
    cursor: auto;

    visibility: visible;
    transition: max-height .5s;
}

.list__item__content.contracted{
    max-height: 0;
    padding: 0;
    margin-top: 0;
}

.list__item__content div{
    display: flex;
    justify-content: space-between;
}

.list__item__content div .card__info{
    width: calc(50% - 1rem);
}

.list__item__content > img{
    width: 100%;
}